body {
margin: 5px;
background-color: rgb(222, 222, 222);
font-family: Arial, Helvetica, sans-serif;
font-size: small;
}

.login{
    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20vh;
    border-radius: 5%;
    text-align: center;
    color: aliceblue;
    box-shadow: 1px;
}
.user , .pass{
    margin: 5%;

}

.UserInput{
    width: 95%;
    background-color: transparent;


    border-right: 0;
    border-left: 0;
    border-top: 0;
    color: white;
    border-bottom-width: 1px;
    border-color: rgb(166, 169, 169);

}

.PassInput{
    width: 95%;
    background-color: transparent;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    color: white;
    border-bottom-width: 1px;
    border-color: rgb(166, 169, 169);
}


 .entrar,.cadastrar{
    width: 44%;
 }
 .PassInput::placeholder,.UserInput::placeholder{
    color: #ccc;

 }
.logo{
    width: 80px;
    height: 80px;
    margin-top: 5%;
    border-radius: 40%;
    
}
.cadastrar{
    background-color: orange;
}
.entrar{
    background-color:rgb(39, 92, 177)
}